
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*shared style*/
.display-flex{
    display: flex;
}
/*color*/

.dark1{
    color: #252432
}

.gray1{
    color: #8987A1;
}

/*navber realted styles*/
.navber{
    justify-content: space-between;
}

.nav-item{
    margin-right: 30px;
    list-style: none;
}

.nav-link{
 
    text-decoration: none;
}
